TOKEN=
TEST_TOKEN=
ANILIST_ID=
ANILIST_TOKEN=
MONGO_SRV=
INVITE=https://discord.com/api/oauth2/authorize?client_id=991739924250362047&permissions=414464732224&scope=bot%20applications.commands
SECRET_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
YOUTUBE_API_KEY=
